In [50]:
import pandas as pd
import csv
import os

In [51]:
#jan 4, 2016 to dec 31, 2017 (Pennymac Mortgage Trust)

pmt_df = pd.read_csv("nasdaq_data/Pennymac_Mortgage_Trust.CSV")

pmt_df['Date']= pd.to_datetime(pmt_df['Date'], format = '%Y-%m-%d')

filtered_pmt_df = pmt_df.loc[(pmt_df["Date"] >= '2009-01-04')& (pmt_df["Date"] < '2018-01-01')]

filtered_pmt_df

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2009-07-30,19.00,19.3700,18.960,19.10,6670500.0,0.0,1.0,8.173341,8.332506,8.156134,8.216358,6670500.0
1,2009-07-31,19.19,19.1900,18.800,18.80,1445600.0,0.0,1.0,8.255074,8.255074,8.087305,8.087305,1445600.0
2,2009-08-03,18.81,19.1700,18.700,19.00,680300.0,0.0,1.0,8.091607,8.246470,8.044288,8.173341,680300.0
3,2009-08-04,19.00,19.1400,18.900,19.10,284300.0,0.0,1.0,8.173341,8.233565,8.130323,8.216358,284300.0
4,2009-08-05,18.90,19.1500,18.900,19.09,148400.0,0.0,1.0,8.130323,8.237867,8.130323,8.212056,148400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2115,2017-12-22,16.49,16.6200,16.440,16.46,582610.0,0.0,1.0,16.490000,16.620000,16.440000,16.460000,582610.0
2116,2017-12-26,16.46,16.7100,16.460,16.62,533747.0,0.0,1.0,16.460000,16.710000,16.460000,16.620000,533747.0
2117,2017-12-27,16.63,16.6733,16.495,16.56,626210.0,0.0,1.0,16.630000,16.673300,16.495000,16.560000,626210.0
2118,2017-12-28,16.09,16.2800,16.040,16.26,484907.0,0.0,1.0,16.090000,16.280000,16.040000,16.260000,484907.0
2119,2017-12-29,16.26,16.3200,16.065,16.07,438949.0,0.0,1.0,16.260000,16.320000,16.065000,16.070000,438949.0

In [52]:
#dataframe for the dividend returns
dividend_pmt_df = filtered_pmt_df.loc[(filtered_pmt_df["Ex-Dividend"] > 0)]

dividend_pmt_df

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
261,2010-08-12,17.15,17.4800,16.89,17.26,112700.0,0.35,1.0,7.527117,7.671954,7.413004,7.575396,112700.0
329,2010-11-17,17.52,17.7100,17.27,17.43,54900.0,0.42,1.0,7.874799,7.960200,7.762431,7.834347,54900.0
365,2011-01-10,18.08,18.0800,17.73,17.96,104700.0,0.42,1.0,8.316546,8.316546,8.155551,8.261348,104700.0
450,2011-05-12,17.70,17.8400,17.62,17.75,248800.0,0.42,1.0,8.334401,8.400323,8.296732,8.357945,248800.0
514,2011-08-12,15.94,16.4400,15.86,16.19,58400.0,0.50,1.0,7.737469,7.980175,7.698636,7.858822,58400.0
579,2011-11-14,16.81,16.8299,16.64,16.76,68400.0,0.50,1.0,8.403208,8.413156,8.318226,8.378213,68400.0
642,2012-02-15,18.10,18.3100,17.96,17.96,1241200.0,0.55,1.0,9.325155,9.433348,9.253027,9.253027,1241200.0
703,2012-05-14,18.66,18.9500,18.35,18.94,877100.0,0.55,1.0,9.892840,10.046587,9.728490,10.041286,877100.0
767,2012-08-14,22.03,22.3500,21.94,22.08,508800.0,0.55,1.0,11.970419,12.144297,11.921515,11.997587,508800.0
830,2012-11-14,23.59,23.8499,22.60,22.65,2282300.0,0.57,1.0,13.140648,13.285424,12.589175,12.617028,2282300.0
831,2012-11-15,21.71,23.0000,21.69,22.82,1407000.0,0.57,1.0,12.395477,13.132012,12.384058,13.029240,1407000.0
894,2013-02-19,24.90,25.0600,24.46,24.76,1416600.0,0.57,1.0,14.544116,14.637572,14.287111,14.462342,1416600.0
953,2013-05-14,24.42,24.6400,23.79,23.99,1729200.0,0.57,1.0,14.602653,14.734208,14.225926,14.345522,1729200.0
1018,2013-08-15,21.50,21.5500,21.26,21.34,1869900.0,0.57,1.0,13.199957,13.230655,13.052609,13.101725,1869900.0
1081,2013-11-13,21.63,21.9600,21.54,21.95,902400.0,0.57,1.0,13.624621,13.832486,13.567931,13.826187,902400.0
1118,2014-01-08,23.16,23.2600,22.99,23.14,717800.0,0.59,1.0,14.960319,15.024915,14.850507,14.947400,717800.0
1184,2014-04-14,23.09,23.2300,22.86,23.01,765300.0,0.59,1.0,15.297541,15.390293,15.145162,15.244539,765300.0
1245,2014-07-11,21.69,21.9200,21.55,21.86,832500.0,0.59,1.0,14.757861,14.914353,14.662605,14.873529,832500.0
1309,2014-10-10,20.70,20.9700,20.35,20.40,1658093.0,0.61,1.0,14.505413,14.694614,14.260153,14.295190,1658093.0
1362,2014-12-26,21.54,21.5600,21.24,21.47,508569.0,0.61,1.0,15.522886,15.537300,15.306690,15.472441,508569.0
1434,2015-04-13,21.15,21.2700,20.86,21.11,522893.0,0.61,1.0,15.682263,15.771241,15.467235,15.652604,522893.0
1498,2015-07-14,17.29,17.3500,17.08,17.11,1082834.0,0.61,1.0,13.277218,13.323292,13.115956,13.138993,1082834.0
1562,2015-10-13,15.57,15.6000,15.06,15.11,1072724.0,0.47,1.0,12.328314,12.352068,11.924496,11.964086,1072724.0
1612,2015-12-23,15.93,16.0800,15.86,15.94,632526.0,0.47,1.0,12.985274,13.107546,12.928213,12.993425,632526.0
1684,2016-04-08,13.21,13.3100,13.03,13.07,876510.0,0.47,1.0,11.155299,11.239745,11.003297,11.037075,876510.0
1749,2016-07-12,15.95,16.2400,15.85,15.97,2197333.0,0.47,1.0,13.865515,14.117615,13.778583,13.882901,2197333.0
1809,2016-10-05,14.63,14.8000,14.47,14.51,1320740.0,0.47,1.0,13.129979,13.282549,12.986384,13.022283,1320740.0
1867,2016-12-28,16.20,16.3000,16.00,16.10,794538.0,0.47,1.0,14.963437,15.055804,14.778703,14.871070,794538.0
1938,2017-04-11,17.64,17.8825,17.43,17.86,735532.0,0.47,1.0,16.722297,16.952181,16.523222,16.930852,735532.0
2000,2017-07-11,17.84,17.9061,17.64,17.78,728465.0,0.47,1.0,17.358944,17.423262,17.164337,17.300562,728465.0
2066,2017-10-12,16.90,17.0000,16.84,16.96,466901.0,0.47,1.0,16.900000,17.000000,16.840000,16.960000,466901.0

In [53]:
#add up the dividend row 
dividend_total_pmt = dividend_pmt_df['Ex-Dividend'].sum()

dividend_total_pmt

16.120000000000005

In [81]:
# For loop to figure out dividend in a real world scenario

total_cash = 0
investable_cash = 1000
total_stock_vol = 0
dividend_cash = 0
dividend_purchase = 0
dividend_stock= 0
purchase_price = dividend_pmt_df.iloc[:,4]
dividend_rate = dividend_pmt_df.iloc[:,6]


for i,r in dividend_pmt_df.iterrows():
    print(r["Date"])

2010-08-12 00:00:00
2010-11-17 00:00:00
2011-01-10 00:00:00
2011-05-12 00:00:00
2011-08-12 00:00:00
2011-11-14 00:00:00
2012-02-15 00:00:00
2012-05-14 00:00:00
2012-08-14 00:00:00
2012-11-14 00:00:00
2012-11-15 00:00:00
2013-02-19 00:00:00
2013-05-14 00:00:00
2013-08-15 00:00:00
2013-11-13 00:00:00
2014-01-08 00:00:00
2014-04-14 00:00:00
2014-07-11 00:00:00
2014-10-10 00:00:00
2014-12-26 00:00:00
2015-04-13 00:00:00
2015-07-14 00:00:00
2015-10-13 00:00:00
2015-12-23 00:00:00
2016-04-08 00:00:00
2016-07-12 00:00:00
2016-10-05 00:00:00
2016-12-28 00:00:00
2017-04-11 00:00:00
2017-07-11 00:00:00
2017-10-12 00:00:00

In [ ]:
if total_stock_vol == 0:

        investable_cash = 1000
        inital_stock = investable_cash/purchase_price
        dividend_cash = inital_stock * dividend_rate
        dividend_stock = purchase_price/dividend_cash
        total_stock_vol = inital_stock + dividend_stock
    else:
        dividend_cash = total_stock_vol * dividend_rate
        dividend_stock = purchase_price/dividend_cash
        total_stock_vol = total_stock_vol + dividend_stock

total_stock_vol

In [ ]:
#jan 2016 to dec 2017 (Reality Income Corp)

O_df = pd.read_csv("nasdaq_data/Realty_Income_Corp.CSV")

O_df['Date']= pd.to_datetime(O_df['Date'], format = '%Y-%m-%d')

filtered_O_df = O_df.loc[(O_df["Date"] >= '2010-08-12')& (O_df["Date"] < '2018-01-01')]

filtered_O_df

In [ ]:
#dataframe for the divident returns 
dividend_O_df = filtered_O_df.loc[(filtered_O_df["Ex-Dividend"] > 0)]

dividend_O_df

In [ ]:
#add up the dividend row
dividend_total_O = dividend_O_df['Ex-Dividend'].sum()

dividend_total_O