In [3]:
#import dependencies 
import pandas as pd
import csv
import matplotlib as plt

In [4]:
#target csv
stock_exchange = 'market_index_data_version1.csv'

In [5]:
#turn csv into dataframe
stock_exchange_df = pd.read_csv(stock_exchange)
stock_exchange_df

,Index,Date,Open,High,Low,Close,Adj Close,Volume
0,NYA,12/31/1965,528.690002,528.690002,528.690002,528.690002,528.690002,0.0
1,NYA,1/3/1966,527.210022,527.210022,527.210022,527.210022,527.210022,0.0
2,NYA,1/4/1966,527.840027,527.840027,527.840027,527.840027,527.840027,0.0
3,NYA,1/5/1966,531.119995,531.119995,531.119995,531.119995,531.119995,0.0
4,NYA,1/6/1966,532.070007,532.070007,532.070007,532.070007,532.070007,0.0
...,...,...,...,...,...,...,...,...
112452,N100,5/27/2021,1241.119995,1251.910034,1241.119995,1247.069946,1247.069946,379696400.0
112453,N100,5/28/2021,1249.469971,1259.209961,1249.030029,1256.599976,1256.599976,160773400.0
112454,N100,5/31/2021,1256.079956,1258.880005,1248.140015,1248.930054,1248.930054,91173700.0
112455,N100,6/1/2021,1254.609985,1265.660034,1254.609985,1258.579956,1258.579956,155179900.0
112456,N100,6/2/2021,1258.489990,1263.709961,1258.239990,1263.619995,1263.619995,148465000.0

In [12]:
stock_exchange_df['Date']= pd.to_datetime(stock_exchange_df['Date'], format = '%m-%d-%%%y')

filtered_nya_df = stock_exchange_df.loc[(stock_exchange_df["Date"] >= '01-04-2009')& (stock_exchange_df["Date"] < '01-01-2018')]

filtered_nya_df

ValueError: time data '12/31/1965' does not match format '%m-%d-%%%y' (match)

In [1]:
# line plot the stock market value by day
x_axis = stock_exchange_df.index
y_axis = stock_exchange_df.loc[stock_exchange_df['Close']]
market_trend, = plt.plot(x_axis, y_axis, marker="o",color="blue", linewidth=1, label="Nasdaq Value")

NameError: name 'stock_exchange_df' is not defined

In [ ]:
# scatter plot, pnt vs. nsadaq (plus linear regression?)

mouse_weight = capomulin['Weight (g)'].astype(float)
tumor_weight = capomulin['Tumor Volume (mm3)'].astype(float)

scatter_x_limit = 60
scatter_x_axis = []

scatter_plot = plt.scatter(mouse_weight, tumor_weight, marker="o", facecolors="red", edgecolors="black",
            s=mouse_weight, alpha=0.25)

plt.xlabel('Mouse Weight (g)')
plt.ylabel('Tumor Weight (mm3)')
plt.show()