In [1]:

import pandas as pd
#from config import api_key

url = ""


import nasdaqdatalink

data_pmt = nasdaqdatalink.get('WIKI/PMT')
data_o = nasdaqdatalink.get('WIKI/O') 
data_pmt.head()


with open ("nasdaqdata/pmt.csv", "w") as file:
    file.write(data_pmt)

TypeError: write() argument must be str, not DataFrame

In [ ]:
data_o.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
1994-10-18,16.00,16.13,15.75,16.00,202600.0,0.0,1.0,1.778386,1.792835,1.750599,1.778386,405200.0
1994-10-19,16.13,17.50,16.13,17.38,121100.0,0.0,1.0,1.792835,1.945110,1.792835,1.931772,242200.0
1994-10-20,17.63,18.13,17.50,17.50,68600.0,0.0,1.0,1.959559,2.015134,1.945110,1.945110,137200.0
1994-10-21,17.50,17.63,17.13,17.25,33300.0,0.0,1.0,1.945110,1.959559,1.903985,1.917322,66600.0
1994-10-24,17.25,17.63,16.88,16.88,36700.0,0.0,1.0,1.917322,1.959559,1.876197,1.876197,73400.0